button{
    position: relative;
    left: 38rem;
    top: 15rem;
    animation-name: disappear;
    animation-duration: 3s;
}

@keyframes disappear{
    from{ 
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}